In [1]:
import pandas as pd
from datetime import datetime
import re
import numpy as np

# Read and clean raw files

This notebook prepares the xlsx files (downloaded from ABS https://www.abs.gov.au/statistics/labour/earnings-and-working-conditions/employee-earnings-and-hours-australia/latest-release) into csv format so they can be loaded into S3 bucket.

### 2016

In [2]:
df_2016 = pd.read_excel("../data/EEH 2016.xlsx", sheet_name='Table_1', skiprows=4, header=[0,1], index_col=0)

In [3]:
df_2016.head(20)

                                                                                        Males  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                     2806.1
121 Farmers and farm managers                                                             NaN
131 Advertising and sales managers                                                     2343.8
132 Business administration managers                                                   2894.3
133 Construction, distribution and production m...                                     2296.6
134 Education, health and welfare services mana...                                     2218.4
135 ICT managers                                                                       2586.8
139 Miscellaneous specialist managers                                                  2756.6
141 Accommodation and hospitality managers                                             1360.6
142 Retail managers                                                                    1548.9
149 Miscellaneous hospitality, retail and servi...                                     1849.7
211 Arts professionals                                                                 1580.3
212 Media professionals                                                                1888.6
221 Accountants, auditors and company secretaries                                      1722.8
222 Financial brokers and dealers, and investme...                                     2360.4
223 Human resource and training professionals                                          1959.2
224 Information and organisation professionals                                         2089.2
225 Sales, marketing and public relations profe...                                     2097.6
231 Air and marine transport professionals                                             2449.5

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                             2806.1
121 Farmers and farm managers                                                     NaN
131 Advertising and sales managers                                             2348.3
132 Business administration managers                                           2894.3
133 Construction, distribution and production m...                               2362
134 Education, health and welfare services mana...                             2218.4
135 ICT managers                                                               2594.6
139 Miscellaneous specialist managers                                          2872.5
141 Accommodation and hospitality managers                                     1360.6
142 Retail managers                                                            1553.4
149 Miscellaneous hospitality, retail and servi...                             1880.5
211 Arts professionals                                                         1580.3
212 Media professionals                                                        1894.2
221 Accountants, auditors and company secretaries                              1722.8
222 Financial brokers and dealers, and investme...                             2360.4
223 Human resource and training professionals                                  1969.8
224 Information and organisation professionals                                 2095.1
225 Sales, marketing and public relations profe...                             2097.6
231 Air and marine transport professionals                                     2645.9

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives, general managers and legi...                                        38.4
121 Farmers and farm managers                                                              NaN
131 Advertising and sales managers                                                        38.2
132 Business administration managers                                                      37.8
133 Construction, distribution and production m...                                        38.7
134 Education, health and welfare services mana...                                        36.4
135 ICT managers                                                                          37.3
139 Miscellaneous specialist managers                                                     38.1
141 Accommodation and hospitality managers                                                39.7
142 Retail managers                                                                       39.7
149 Miscellaneous hospitality, retail and servi...                                        38.1
211 Arts professionals                                                                    37.5
212 Media professionals                                                                   38.3
221 Accountants, auditors and company secretaries                                         37.8
222 Financial brokers and dealers, and investme...                                          38
223 Human resource and training professionals                                             38.2
224 Information and organisation professionals                                            37.7
225 Sales, marketing and public relations profe...                                        38.4
231 Air and marine transport professionals                                                42.4

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives, general managers and legi...                                38.4
121 Farmers and farm managers                                                      NaN
131 Advertising and sales managers                                                38.3
132 Business administration managers                                              37.8
133 Construction, distribution and production m...                                39.8
134 Education, health and welfare services mana...                                36.4
135 ICT managers                                                                  37.4
139 Miscellaneous specialist managers                                             39.2
141 Accommodation and hospitality managers                                        39.7
142 Retail managers                                                               39.9
149 Miscellaneous hospitality, retail and servi...                                38.6
211 Arts professionals                                                            37.5
212 Media professionals                                                           38.4
221 Accountants, auditors and company secretaries                                 37.8
222 Financial brokers and dealers, and investme...                                  38
223 Human resource and training professionals                                     38.3
224 Information and organisation professionals                                    37.8
225 Sales, marketing and public relations profe...                                38.4
231 Air and marine transport professionals                                        43.9

                                                                                               \
                                                   Average hourly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                         73
121 Farmers and farm managers                                                             NaN
131 Advertising and sales managers                                                       61.4
132 Business administration managers                                                     76.6
133 Construction, distribution and production m...                                       59.3
134 Education, health and welfare services mana...                                         61
135 ICT managers                                                                         69.4
139 Miscellaneous specialist managers                                                    72.3
141 Accommodation and hospitality managers                                               34.3
142 Retail managers                                                                        39
149 Miscellaneous hospitality, retail and servi...                                       48.6
211 Arts professionals                                                                   42.2
212 Media professionals                                                                  49.3
221 Accountants, auditors and company secretaries                                        45.5
222 Financial brokers and dealers, and investme...                                       62.2
223 Human resource and training professionals                                            51.3
224 Information and organisation professionals                                           55.4
225 Sales, marketing and public relations profe...                                       54.7
231 Air and marine transport professionals                                               57.8

                                                                                       \
                                                   Average hourly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                                 73
121 Farmers and farm managers                                                     NaN
131 Advertising and sales managers                                               61.4
132 Business administration managers                                             76.6
133 Construction, distribution and production m...                               59.3
134 Education, health and welfare services mana...                                 61
135 ICT managers                                                                 69.5
139 Miscellaneous specialist managers                                            73.2
141 Accommodation and hospitality managers                                       34.3
142 Retail managers                                                                39
149 Miscellaneous hospitality, retail and servi...                               48.7
211 Arts professionals                                                           42.2
212 Media professionals                                                          49.3
221 Accountants, auditors and company secretaries                                45.5
222 Financial brokers and dealers, and investme...                               62.2
223 Human resource and training professionals                                    51.4
224 Information and organisation professionals                                   55.4
225 Sales, marketing and public relations profe...                               54.7
231 Air and marine transport professionals                                       60.3

                                                                                      Females  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                     2334.7
121 Farmers and farm managers                                                               0
131 Advertising and sales managers                                                     2329.9
132 Business administration managers                                                   2267.6
133 Construction, distribution and production m...                                     2327.8
134 Education, health and welfare services mana...                                     2119.6
135 ICT managers                                                                       2435.6
139 Miscellaneous specialist managers                                                  2315.2
141 Accommodation and hospitality managers                                             1205.7
142 Retail managers                                                                    1267.4
149 Miscellaneous hospitality, retail and servi...                                     1701.3
211 Arts professionals                                                                 1793.9
212 Media professionals                                                                1443.2
221 Accountants, auditors and company secretaries                                      1627.6
222 Financial brokers and dealers, and investme...                                     1970.9
223 Human resource and training professionals                                          1607.6
224 Information and organisation professionals                                         1767.1
225 Sales, marketing and public relations profe...                                     1562.4
231 Air and marine transport professionals                                             1876.4

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                             2334.7
121 Farmers and farm managers                                                       0
131 Advertising and sales managers                                             2329.9
132 Business administration managers                                           2267.6
133 Construction, distribution and production m...                             2339.7
134 Education, health and welfare services mana...                             2119.8
135 ICT managers                                                               2435.6
139 Miscellaneous specialist managers                                          2325.2
141 Accommodation and hospitality managers                                     1205.7
142 Retail managers                                                            1276.4
149 Miscellaneous hospitality, retail and servi...                             1708.8
211 Arts professionals                                                         1793.9
212 Media professionals                                                          1449
221 Accountants, auditors and company secretaries                              1627.8
222 Financial brokers and dealers, and investme...                             1971.3
223 Human resource and training professionals                                  1608.5
224 Information and organisation professionals                                 1777.4
225 Sales, marketing and public relations profe...                             1562.7
231 Air and marine transport professionals                                     1894.9

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives, general managers and legi...                                        35.8
121 Farmers and farm managers                                                                0
131 Advertising and sales managers                                                          38
132 Business administration managers                                                      37.7
133 Construction, distribution and production m...                                        38.9
134 Education, health and welfare services mana...                                        35.9
135 ICT managers                                                                          37.6
139 Miscellaneous specialist managers                                                     37.9
141 Accommodation and hospitality managers                                                39.1
142 Retail managers                                                                       38.5
149 Miscellaneous hospitality, retail and servi...                                        37.8
211 Arts professionals                                                                    37.8
212 Media professionals                                                                   37.7
221 Accountants, auditors and company secretaries                                         37.4
222 Financial brokers and dealers, and investme...                                        37.3
223 Human resource and training professionals                                               38
224 Information and organisation professionals                                            37.1
225 Sales, marketing and public relations profe...                                        37.4
231 Air and marine transport professionals                                                37.1

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives, general managers and legi...                                35.8
121 Farmers and farm managers                                                        0
131 Advertising and sales managers                                                  38
132 Business administration managers                                              37.7
133 Construction, distribution and production m...                                39.2
134 Education, health and welfare services mana...                                  36
135 ICT managers                                                                  37.6
139 Miscellaneous specialist managers                                               38
141 Accommodation and hospitality managers                                        39.1
142 Retail managers                                                               38.6
149 Miscellaneous hospitality, retail and servi...                                37.9
211 Arts professionals                                                            37.8
212 Media professionals                                                           37.8
221 Accountants, auditors and company secretaries                                 37.4
222 Financial brokers and dealers, and investme...                                37.3
223 Human resource and training professionals                                     38.1
224 Information and organisation professionals                                    37.3
225 Sales, marketing and public relations profe...                                37.4
231 Air and marine transport professionals                                        37.3


In [4]:
df_2016.columns

MultiIndex([(  'Males',  'Average weekly ordinary time cash earnings'),
            (  'Males',          'Average weekly total cash earnings'),
            (  'Males', 'Average weekly ordinary time hours paid for'),
            (  'Males',         'Average weekly total hours paid for'),
            (  'Males',  'Average hourly ordinary time cash earnings'),
            (  'Males',          'Average hourly total cash earnings'),
            ('Females',  'Average weekly ordinary time cash earnings'),
            ('Females',          'Average weekly total cash earnings'),
            ('Females', 'Average weekly ordinary time hours paid for'),
            ('Females',         'Average weekly total hours paid for'),
            ('Females',  'Average hourly ordinary time cash earnings'),
            ('Females',          'Average hourly total cash earnings'),
            ('Persons',  'Average weekly ordinary time cash earnings'),
            ('Persons',          'Average weekly total cash earnings'),
            ('Persons', 'Average weekly ordinary time hours paid for'),
            ('Persons',         'Average weekly total hours paid for'),
            ('Persons',  'Average hourly ordinary time cash earnings'),
            ('Persons',          'Average hourly total cash earnings')],
           )

In [5]:
# Remove first row
df_2016 = df_2016.iloc[1:]

In [6]:
df_2016_long = df_2016.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

C:\Users\YenChiNguyen\AppData\Local\Temp\ipykernel_34324\4171460239.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_2016_long = df_2016.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

In [7]:
# Remove last rows
df_2016_long = df_2016_long.iloc[:-3, :]

In [8]:
df_2016_long

,Occupation,Gender,Average weekly ordinary time cash earnings,Average weekly total cash earnings,Average weekly ordinary time hours paid for,Average weekly total hours paid for,Average hourly ordinary time cash earnings,Average hourly total cash earnings
0,"111 Chief executives, general managers and leg...",Females,2334.7,2334.7,35.8,35.8,65.3,65.3
1,"111 Chief executives, general managers and leg...",Males,2806.1,2806.1,38.4,38.4,73,73
2,"111 Chief executives, general managers and leg...",Persons,2666.2,2666.2,37.6,37.6,70.9,70.9
3,121 Farmers and farm managers,Females,0,0,0,0,0,0
4,131 Advertising and sales managers,Females,2329.9,2329.9,38,38,61.3,61.3
...,...,...,...,...,...,...,...,...
268,851 Food preparation assistants,Persons,1084.5,1116.4,40.7,41.5,26.7,26.9
269,891 Freight handlers and shelf fillers,Persons,1023.5,1213.5,37.8,43.6,27.1,27.8
270,899 Miscellaneous labourers,Females,1082.8,1108.8,39.9,40.5,27.1,27.4
271,899 Miscellaneous labourers,Males,1118.6,1252.7,38.6,41,29,30.5
272,899 Miscellaneous labourers,Persons,1116.7,1244.9,38.7,41,28.9,30.4

### 2018

In [9]:
df_2018 = pd.read_excel("../data/EEH 2018.xlsx", sheet_name='Table_1', skiprows=4, header=[0,1], index_col=0)

In [10]:
df_2018.head(20)

                                                                                        Males  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
121 Farmers and farm managers                                                          1821.9
131 Advertising and sales managers                                                     2638.7
132 Business administration managers                                                   2795.1
133 Construction, distribution and production m...                                     2905.9
134 Education, health and welfare services mana...                                     2345.6
135 ICT managers                                                                       2855.2
139 Miscellaneous specialist managers                                                  2522.7
141 Accommodation and hospitality managers                                             1460.6
142 Retail managers                                                                    1487.2
149 Miscellaneous hospitality, retail and servi...                                     1924.4
211 Arts professionals                                                                 1390.8
212 Media professionals                                                                1971.8
221 Accountants, auditors and company secretaries                                      1864.5
222 Financial brokers and dealers, and investme...                                     2908.4
223 Human resource and training professionals                                            1944
224 Information and organisation professionals                                         2279.4
225 Sales, marketing and public relations profe...                                       2288
231 Air and marine transport professionals                                             2468.4
232 Architects, designers, planners and surveyors                                      1800.1

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
121 Farmers and farm managers                                                  1821.9
131 Advertising and sales managers                                             2638.7
132 Business administration managers                                           2796.6
133 Construction, distribution and production m...                             2929.1
134 Education, health and welfare services mana...                               2348
135 ICT managers                                                               2862.7
139 Miscellaneous specialist managers                                          2551.6
141 Accommodation and hospitality managers                                     1496.8
142 Retail managers                                                              1488
149 Miscellaneous hospitality, retail and servi...                             1946.5
211 Arts professionals                                                         1390.8
212 Media professionals                                                        2007.5
221 Accountants, auditors and company secretaries                              1867.5
222 Financial brokers and dealers, and investme...                             2908.4
223 Human resource and training professionals                                    1962
224 Information and organisation professionals                                 2287.9
225 Sales, marketing and public relations profe...                               2288
231 Air and marine transport professionals                                       2552
232 Architects, designers, planners and surveyors                              1817.6

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
121 Farmers and farm managers                                                             39.6
131 Advertising and sales managers                                                        38.2
132 Business administration managers                                                      37.6
133 Construction, distribution and production m...                                        38.5
134 Education, health and welfare services mana...                                        37.6
135 ICT managers                                                                          37.7
139 Miscellaneous specialist managers                                                     38.1
141 Accommodation and hospitality managers                                                38.3
142 Retail managers                                                                       38.3
149 Miscellaneous hospitality, retail and servi...                                        37.7
211 Arts professionals                                                                    37.2
212 Media professionals                                                                   38.6
221 Accountants, auditors and company secretaries                                           38
222 Financial brokers and dealers, and investme...                                          38
223 Human resource and training professionals                                             38.4
224 Information and organisation professionals                                            37.7
225 Sales, marketing and public relations profe...                                          38
231 Air and marine transport professionals                                                38.8
232 Architects, designers, planners and surveyors                                           38

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
121 Farmers and farm managers                                                     39.6
131 Advertising and sales managers                                                38.2
132 Business administration managers                                              37.7
133 Construction, distribution and production m...                                38.8
134 Education, health and welfare services mana...                                37.6
135 ICT managers                                                                  37.8
139 Miscellaneous specialist managers                                             38.4
141 Accommodation and hospitality managers                                        39.4
142 Retail managers                                                               38.3
149 Miscellaneous hospitality, retail and servi...                                38.1
211 Arts professionals                                                            37.2
212 Media professionals                                                           39.1
221 Accountants, auditors and company secretaries                                 38.1
222 Financial brokers and dealers, and investme...                                  38
223 Human resource and training professionals                                     38.6
224 Information and organisation professionals                                    37.8
225 Sales, marketing and public relations profe...                                  38
231 Air and marine transport professionals                                        39.8
232 Architects, designers, planners and surveyors                                 38.3

                                                                                               \
                                                   Average hourly ordinary time cash earnings
NaN                                                                                         $
121 Farmers and farm managers                                                              46
131 Advertising and sales managers                                                       69.1
132 Business administration managers                                                     74.2
133 Construction, distribution and production m...                                       75.6
134 Education, health and welfare services mana...                                       62.4
135 ICT managers                                                                         75.7
139 Miscellaneous specialist managers                                                    66.3
141 Accommodation and hospitality managers                                               38.1
142 Retail managers                                                                      38.9
149 Miscellaneous hospitality, retail and servi...                                       51.1
211 Arts professionals                                                                   37.4
212 Media professionals                                                                  51.1
221 Accountants, auditors and company secretaries                                        49.1
222 Financial brokers and dealers, and investme...                                       76.5
223 Human resource and training professionals                                            50.7
224 Information and organisation professionals                                           60.4
225 Sales, marketing and public relations profe...                                       60.3
231 Air and marine transport professionals                                               63.6
232 Architects, designers, planners and surveyors                                        47.4

                                                                                       \
                                                   Average hourly total cash earnings
NaN                                                                                 $
121 Farmers and farm managers                                                      46
131 Advertising and sales managers                                               69.1
132 Business administration managers                                             74.3
133 Construction, distribution and production m...                               75.6
134 Education, health and welfare services mana...                               62.4
135 ICT managers                                                                 75.7
139 Miscellaneous specialist managers                                            66.4
141 Accommodation and hospitality managers                                         38
142 Retail managers                                                              38.9
149 Miscellaneous hospitality, retail and servi...                               51.2
211 Arts professionals                                                           37.4
212 Media professionals                                                          51.3
221 Accountants, auditors and company secretaries                                49.1
222 Financial brokers and dealers, and investme...                               76.5
223 Human resource and training professionals                                    50.9
224 Information and organisation professionals                                   60.5
225 Sales, marketing and public relations profe...                               60.3
231 Air and marine transport professionals                                       64.1
232 Architects, designers, planners and surveyors                                47.5

                                                                                      Females  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
121 Farmers and farm managers                                                          2201.9
131 Advertising and sales managers                                                     2262.9
132 Business administration managers                                                   2652.4
133 Construction, distribution and production m...                                     2685.3
134 Education, health and welfare services mana...                                     2129.7
135 ICT managers                                                                       2773.6
139 Miscellaneous specialist managers                                                    2261
141 Accommodation and hospitality managers                                               1180
142 Retail managers                                                                    1487.1
149 Miscellaneous hospitality, retail and servi...                                     1639.1
211 Arts professionals                                                                 1368.9
212 Media professionals                                                                1619.6
221 Accountants, auditors and company secretaries                                      1730.9
222 Financial brokers and dealers, and investme...                                     2327.5
223 Human resource and training professionals                                          1714.9
224 Information and organisation professionals                                         1841.5
225 Sales, marketing and public relations profe...                                     1921.3
231 Air and marine transport professionals                                             2419.2
232 Architects, designers, planners and surveyors                                      1430.2

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
121 Farmers and farm managers                                                  2201.9
131 Advertising and sales managers                                             2262.9
132 Business administration managers                                           2661.7
133 Construction, distribution and production m...                             2685.3
134 Education, health and welfare services mana...                             2130.7
135 ICT managers                                                                 2822
139 Miscellaneous specialist managers                                          2264.5
141 Accommodation and hospitality managers                                     1184.1
142 Retail managers                                                            1487.2
149 Miscellaneous hospitality, retail and servi...                             1644.9
211 Arts professionals                                                         1368.9
212 Media professionals                                                        1635.6
221 Accountants, auditors and company secretaries                              1731.1
222 Financial brokers and dealers, and investme...                             2328.3
223 Human resource and training professionals                                    1719
224 Information and organisation professionals                                 1842.6
225 Sales, marketing and public relations profe...                             1943.8
231 Air and marine transport professionals                                     2419.2
232 Architects, designers, planners and surveyors                              1430.7

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
121 Farmers and farm managers                                                             38.4
131 Advertising and sales managers                                                        38.3
132 Business administration managers                                                      37.5
133 Construction, distribution and production m...                                        38.7
134 Education, health and welfare services mana...                                        37.8
135 ICT managers                                                                            38
139 Miscellaneous specialist managers                                                     37.8
141 Accommodation and hospitality managers                                                38.8
142 Retail managers                                                                       38.5
149 Miscellaneous hospitality, retail and servi...                                        37.9
211 Arts professionals                                                                    37.1
212 Media professionals                                                                   38.7
221 Accountants, auditors and company secretaries                                         37.6
222 Financial brokers and dealers, and investme...                                        38.1
223 Human resource and training professionals                                             37.8
224 Information and organisation professionals                                            37.2
225 Sales, marketing and public relations profe...                                        37.3
231 Air and marine transport professionals                                                37.4
232 Architects, designers, planners and surveyors                                         37.7

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
121 Farmers and farm managers                                                     38.4
131 Advertising and sales managers                                                38.3
132 Business administration managers                                              37.6
133 Construction, distribution and production m...                                38.7
134 Education, health and welfare services mana...                                37.8
135 ICT managers                                                                  38.4
139 Miscellaneous specialist managers                                             37.8
141 Accommodation and hospitality managers                                        38.9
142 Retail managers                                                               38.5
149 Miscellaneous hospitality, retail and servi...                                  38
211 Arts professionals                                                            37.1
212 Media professionals                                                             39
221 Accountants, auditors and company secretaries                                 37.6
222 Financial brokers and dealers, and investme...                                38.1
223 Human resource and training professionals                                     37.9
224 Information and organisation professionals                                    37.2
225 Sales, marketing and public relations profe...                                37.7
231 Air and marine transport professionals                                        37.4
232 Architects, designers, planners and surveyors                                 37.8


In [11]:
df_2018.columns

MultiIndex([(  'Males',  'Average weekly ordinary time cash earnings'),
            (  'Males',          'Average weekly total cash earnings'),
            (  'Males', 'Average weekly ordinary time hours paid for'),
            (  'Males',         'Average weekly total hours paid for'),
            (  'Males',  'Average hourly ordinary time cash earnings'),
            (  'Males',          'Average hourly total cash earnings'),
            ('Females',  'Average weekly ordinary time cash earnings'),
            ('Females',          'Average weekly total cash earnings'),
            ('Females', 'Average weekly ordinary time hours paid for'),
            ('Females',         'Average weekly total hours paid for'),
            ('Females',  'Average hourly ordinary time cash earnings'),
            ('Females',          'Average hourly total cash earnings'),
            ('Persons',  'Average weekly ordinary time cash earnings'),
            ('Persons',          'Average weekly total cash earnings'),
            ('Persons', 'Average weekly ordinary time hours paid for'),
            ('Persons',         'Average weekly total hours paid for'),
            ('Persons',  'Average hourly ordinary time cash earnings'),
            ('Persons',          'Average hourly total cash earnings')],
           )

In [12]:
# Remove first row
df_2018 = df_2018.iloc[1:]

In [13]:
df_2018_long = df_2018.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

C:\Users\YenChiNguyen\AppData\Local\Temp\ipykernel_34324\4150437707.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_2018_long = df_2018.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

In [14]:
# Remove last rows
df_2018_long = df_2018_long.iloc[:-3, :]

In [15]:
df_2018_long

,Occupation,Gender,Average weekly ordinary time cash earnings,Average weekly total cash earnings,Average weekly ordinary time hours paid for,Average weekly total hours paid for,Average hourly ordinary time cash earnings,Average hourly total cash earnings
0,121 Farmers and farm managers,Females,2201.9,2201.9,38.4,38.4,57.3,57.3
1,121 Farmers and farm managers,Males,1821.9,1821.9,39.6,39.6,46,46
2,121 Farmers and farm managers,Persons,2098.4,2098.4,38.8,38.8,54.1,54.1
3,131 Advertising and sales managers,Females,2262.9,2262.9,38.3,38.3,59,59
4,131 Advertising and sales managers,Males,2638.7,2638.7,38.2,38.2,69.1,69.1
...,...,...,...,...,...,...,...,...
273,891 Freight handlers and shelf fillers,Males,1172.9,1338.6,37.8,41.6,31.1,32.2
274,891 Freight handlers and shelf fillers,Persons,1159.6,1303.5,38,41.3,30.5,31.6
275,899 Miscellaneous labourers,Females,1137.3,1484.1,37.2,41.1,30.6,36.1
276,899 Miscellaneous labourers,Males,1162.2,1291.2,37.9,40.4,30.6,31.9
277,899 Miscellaneous labourers,Persons,1159.4,1312.4,37.9,40.5,30.6,32.4

### 2021

In [16]:
df_2021 = pd.read_excel("../data/EEH 2021.xlsx", sheet_name='Table_1', skiprows=4, header=[0,1], index_col=0)

In [17]:
df_2021.head(20)

                                                                                        Males  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives and managing directors                                               NaN
121 Farmers and farm managers                                                             NaN
131 Advertising and sales managers                                                       2971
132 Business administration managers                                                     3628
133 Construction, distribution and production m...                                       2973
134 Education, health and welfare services mana...                                     2368.5
135 ICT managers                                                                       3218.9
139 Miscellaneous specialist managers                                                  2961.6
141 Accommodation and hospitality managers                                               1579
142 Retail managers                                                                    1753.1
149 Miscellaneous hospitality, retail and servi...                                     2008.4
211 Arts professionals                                                                 1924.4
212 Media professionals                                                                1895.3
221 Accountants, auditors and company secretaries                                      2053.6
222 Financial brokers and dealers, and investme...                                     3404.5
223 Human resource and training professionals                                          1950.8
224 Information and organisation professionals                                         2334.9
225 Sales, marketing and public relations profe...                                     2377.4
231 Air and marine transport professionals                                             3414.9

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives and managing directors                                       NaN
121 Farmers and farm managers                                                     NaN
131 Advertising and sales managers                                             2971.7
132 Business administration managers                                             3628
133 Construction, distribution and production m...                             3067.9
134 Education, health and welfare services mana...                             2373.7
135 ICT managers                                                               3218.9
139 Miscellaneous specialist managers                                          3032.8
141 Accommodation and hospitality managers                                       1579
142 Retail managers                                                            1778.9
149 Miscellaneous hospitality, retail and servi...                             2029.6
211 Arts professionals                                                         2114.9
212 Media professionals                                                        1915.1
221 Accountants, auditors and company secretaries                              2056.3
222 Financial brokers and dealers, and investme...                             3416.5
223 Human resource and training professionals                                  1986.6
224 Information and organisation professionals                                 2340.5
225 Sales, marketing and public relations profe...                             2383.1
231 Air and marine transport professionals                                     3445.5

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives and managing directors                                                NaN
121 Farmers and farm managers                                                              NaN
131 Advertising and sales managers                                                        38.2
132 Business administration managers                                                      37.9
133 Construction, distribution and production m...                                        38.7
134 Education, health and welfare services mana...                                        37.6
135 ICT managers                                                                          38.2
139 Miscellaneous specialist managers                                                     38.2
141 Accommodation and hospitality managers                                                38.5
142 Retail managers                                                                       38.9
149 Miscellaneous hospitality, retail and servi...                                        38.6
211 Arts professionals                                                                    36.5
212 Media professionals                                                                   38.6
221 Accountants, auditors and company secretaries                                         37.6
222 Financial brokers and dealers, and investme...                                        38.1
223 Human resource and training professionals                                             37.9
224 Information and organisation professionals                                              38
225 Sales, marketing and public relations profe...                                        37.9
231 Air and marine transport professionals                                                  43

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives and managing directors                                        NaN
121 Farmers and farm managers                                                      NaN
131 Advertising and sales managers                                                38.2
132 Business administration managers                                              37.9
133 Construction, distribution and production m...                                39.9
134 Education, health and welfare services mana...                                37.7
135 ICT managers                                                                  38.2
139 Miscellaneous specialist managers                                             38.7
141 Accommodation and hospitality managers                                        38.5
142 Retail managers                                                               39.4
149 Miscellaneous hospitality, retail and servi...                                38.9
211 Arts professionals                                                              39
212 Media professionals                                                           38.9
221 Accountants, auditors and company secretaries                                 37.6
222 Financial brokers and dealers, and investme...                                38.3
223 Human resource and training professionals                                     38.2
224 Information and organisation professionals                                      38
225 Sales, marketing and public relations profe...                                  38
231 Air and marine transport professionals                                        43.3

                                                                                               \
                                                   Average hourly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives and managing directors                                               NaN
121 Farmers and farm managers                                                             NaN
131 Advertising and sales managers                                                       77.8
132 Business administration managers                                                     95.7
133 Construction, distribution and production m...                                       76.8
134 Education, health and welfare services mana...                                       62.9
135 ICT managers                                                                         84.2
139 Miscellaneous specialist managers                                                    77.6
141 Accommodation and hospitality managers                                               41.1
142 Retail managers                                                                        45
149 Miscellaneous hospitality, retail and servi...                                       52.1
211 Arts professionals                                                                   52.8
212 Media professionals                                                                  49.1
221 Accountants, auditors and company secretaries                                        54.6
222 Financial brokers and dealers, and investme...                                       89.3
223 Human resource and training professionals                                            51.5
224 Information and organisation professionals                                           61.5
225 Sales, marketing and public relations profe...                                       62.8
231 Air and marine transport professionals                                               79.4

                                                                                       \
                                                   Average hourly total cash earnings
NaN                                                                                 $
111 Chief executives and managing directors                                       NaN
121 Farmers and farm managers                                                     NaN
131 Advertising and sales managers                                               77.8
132 Business administration managers                                             95.7
133 Construction, distribution and production m...                               76.9
134 Education, health and welfare services mana...                                 63
135 ICT managers                                                                 84.2
139 Miscellaneous specialist managers                                            78.5
141 Accommodation and hospitality managers                                       41.1
142 Retail managers                                                              45.1
149 Miscellaneous hospitality, retail and servi...                               52.2
211 Arts professionals                                                           54.2
212 Media professionals                                                          49.2
221 Accountants, auditors and company secretaries                                54.6
222 Financial brokers and dealers, and investme...                               89.3
223 Human resource and training professionals                                      52
224 Information and organisation professionals                                   61.5
225 Sales, marketing and public relations profe...                               62.8
231 Air and marine transport professionals                                       79.6

                                                                                      Females  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives and managing directors                                               NaN
121 Farmers and farm managers                                                             NaN
131 Advertising and sales managers                                                     2803.9
132 Business administration managers                                                   2773.4
133 Construction, distribution and production m...                                     2434.2
134 Education, health and welfare services mana...                                     2155.1
135 ICT managers                                                                       2910.8
139 Miscellaneous specialist managers                                                  2708.8
141 Accommodation and hospitality managers                                             1294.9
142 Retail managers                                                                    1413.8
149 Miscellaneous hospitality, retail and servi...                                     1865.6
211 Arts professionals                                                                 1916.6
212 Media professionals                                                                1906.7
221 Accountants, auditors and company secretaries                                      1812.7
222 Financial brokers and dealers, and investme...                                     2597.7
223 Human resource and training professionals                                          1912.6
224 Information and organisation professionals                                         2219.9
225 Sales, marketing and public relations profe...                                     1964.6
231 Air and marine transport professionals                                             2349.6

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives and managing directors                                       NaN
121 Farmers and farm managers                                                     NaN
131 Advertising and sales managers                                             2803.9
132 Business administration managers                                           2773.4
133 Construction, distribution and production m...                             2501.1
134 Education, health and welfare services mana...                             2157.3
135 ICT managers                                                               2981.7
139 Miscellaneous specialist managers                                          2709.4
141 Accommodation and hospitality managers                                     1294.9
142 Retail managers                                                              1417
149 Miscellaneous hospitality, retail and servi...                             1872.7
211 Arts professionals                                                         2188.9
212 Media professionals                                                        1934.4
221 Accountants, auditors and company secretaries                              1817.5
222 Financial brokers and dealers, and investme...                             2598.5
223 Human resource and training professionals                                  1913.3
224 Information and organisation professionals                                 2230.4
225 Sales, marketing and public relations profe...                             1967.2
231 Air and marine transport professionals                                     2367.4

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives and managing directors                                                NaN
121 Farmers and farm managers                                                              NaN
131 Advertising and sales managers                                                        38.1
132 Business administration managers                                                      37.3
133 Construction, distribution and production m...                                          38
134 Education, health and welfare services mana...                                        37.7
135 ICT managers                                                                          36.8
139 Miscellaneous specialist managers                                                       38
141 Accommodation and hospitality managers                                                38.1
142 Retail managers                                                                       38.8
149 Miscellaneous hospitality, retail and servi...                                        37.9
211 Arts professionals                                                                    35.3
212 Media professionals                                                                   38.7
221 Accountants, auditors and company secretaries                                         37.6
222 Financial brokers and dealers, and investme...                                        37.8
223 Human resource and training professionals                                             36.9
224 Information and organisation professionals                                            37.4
225 Sales, marketing and public relations profe...                                        37.3
231 Air and marine transport professionals                                                37.5

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives and managing directors                                        NaN
121 Farmers and farm managers                                                      NaN
131 Advertising and sales managers                                                38.1
132 Business administration managers                                              37.3
133 Construction, distribution and production m...                                38.8
134 Education, health and welfare services mana...                                37.8
135 ICT managers                                                                  37.6
139 Miscellaneous specialist managers                                               38
141 Accommodation and hospitality managers                                        38.1
142 Retail managers                                                               38.9
149 Miscellaneous hospitality, retail and servi...                                  38
211 Arts professionals                                                            38.7
212 Media professionals                                                           39.3
221 Accountants, auditors and company secretaries                                 37.7
222 Financial brokers and dealers, and investme...                                37.8
223 Human resource and training professionals                                     36.9
224 Information and organisation professionals                                    37.6
225 Sales, marketing and public relations profe...                                37.4
231 Air and marine transport professionals                                        37.5


In [18]:
# Remove first row
df_2021 = df_2021.iloc[1:]

#TODO: Need to check if you want to keep occupations where there are only null values in the future. df.stack(level=0, dropna=False) e.g. see below occupation 111

In [19]:
df_2021_long = df_2021.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

C:\Users\YenChiNguyen\AppData\Local\Temp\ipykernel_34324\2510893075.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_2021_long = df_2021.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

In [20]:
# Remove last rows
df_2021_long = df_2021_long.iloc[:-3, :]

In [21]:
df_2021_long

,Occupation,Gender,Average weekly ordinary time cash earnings,Average weekly total cash earnings,Average weekly ordinary time hours paid for,Average weekly total hours paid for,Average hourly ordinary time cash earnings,Average hourly total cash earnings
0,121 Farmers and farm managers,Persons,1858.6,1858.6,38.7,38.7,48.1,48.1
1,131 Advertising and sales managers,Females,2803.9,2803.9,38.1,38.1,73.6,73.6
2,131 Advertising and sales managers,Males,2971,2971.7,38.2,38.2,77.8,77.8
3,131 Advertising and sales managers,Persons,2906.4,2906.8,38.1,38.2,76.2,76.2
4,132 Business administration managers,Females,2773.4,2773.4,37.3,37.3,74.3,74.3
...,...,...,...,...,...,...,...,...
263,891 Freight handlers and shelf fillers,Males,1392.2,1576.4,38.5,41.9,36.2,37.6
264,891 Freight handlers and shelf fillers,Persons,1357.8,1533.2,38.6,41.9,35.1,36.6
265,899 Miscellaneous labourers,Females,1238.6,1421.5,38.1,41.8,32.5,34
266,899 Miscellaneous labourers,Males,1259.1,1372.1,38.7,40.9,32.5,33.6
267,899 Miscellaneous labourers,Persons,1256.8,1377.6,38.6,41,32.5,33.6

In [22]:
df_2021_long[df_2021_long['Occupation']=='111 Chief executives and managing directors']

Empty DataFrame
Columns: [Occupation, Gender, Average weekly ordinary time cash earnings, Average weekly total cash earnings, Average weekly ordinary time hours paid for, Average weekly total hours paid for, Average hourly ordinary time cash earnings, Average hourly total cash earnings]
Index: []

### 2023

In [23]:
df_2023 = pd.read_excel("../data/EEH 2023.xlsx", sheet_name='Table_1', skiprows=4, header=[0,1], index_col=0)

In [24]:
df_2023.head(20)

                                                                                        Males  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                        NaN
121 Farmers and farm managers                                                             NaN
131 Advertising, public relations and sales man...                                     2829.9
132 Business administration managers                                                   3322.1
133 Construction, distribution and production m...                                       3200
134 Education, health and welfare services mana...                                     2548.4
135 ICT managers                                                                       3626.6
139 Miscellaneous specialist managers                                                  3130.3
141 Accommodation and hospitality managers                                             1569.1
142 Retail managers                                                                    1895.2
149 Miscellaneous hospitality, retail and servi...                                       2240
211 Arts professionals                                                                 1639.6
212 Media professionals                                                                2100.6
221 Accountants, auditors and company secretaries                                      2058.2
222 Financial brokers and dealers, and investme...                                     2669.3
223 Human resource and training professionals                                          2327.3
224 Information and organisation professionals                                           2421
225 Sales, marketing and public relations profe...                                     2462.2
231 Air and marine transport professionals                                             2742.9

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                                NaN
121 Farmers and farm managers                                                     NaN
131 Advertising, public relations and sales man...                             2829.9
132 Business administration managers                                           3337.6
133 Construction, distribution and production m...                             3239.4
134 Education, health and welfare services mana...                             2548.9
135 ICT managers                                                               3626.6
139 Miscellaneous specialist managers                                          3166.1
141 Accommodation and hospitality managers                                     1569.9
142 Retail managers                                                              1932
149 Miscellaneous hospitality, retail and servi...                             2266.3
211 Arts professionals                                                         1641.2
212 Media professionals                                                        2129.7
221 Accountants, auditors and company secretaries                              2070.6
222 Financial brokers and dealers, and investme...                             2669.4
223 Human resource and training professionals                                  2333.8
224 Information and organisation professionals                                 2428.2
225 Sales, marketing and public relations profe...                             2467.2
231 Air and marine transport professionals                                     2848.2

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives, general managers and legi...                                         NaN
121 Farmers and farm managers                                                              NaN
131 Advertising, public relations and sales man...                                        38.2
132 Business administration managers                                                      37.8
133 Construction, distribution and production m...                                        38.7
134 Education, health and welfare services mana...                                        37.4
135 ICT managers                                                                          38.4
139 Miscellaneous specialist managers                                                     38.1
141 Accommodation and hospitality managers                                                38.8
142 Retail managers                                                                       38.3
149 Miscellaneous hospitality, retail and servi...                                        38.5
211 Arts professionals                                                                    37.1
212 Media professionals                                                                   38.4
221 Accountants, auditors and company secretaries                                         37.9
222 Financial brokers and dealers, and investme...                                        38.1
223 Human resource and training professionals                                             38.3
224 Information and organisation professionals                                            37.7
225 Sales, marketing and public relations profe...                                        38.2
231 Air and marine transport professionals                                                40.9

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives, general managers and legi...                                 NaN
121 Farmers and farm managers                                                      NaN
131 Advertising, public relations and sales man...                                38.2
132 Business administration managers                                              37.9
133 Construction, distribution and production m...                                39.2
134 Education, health and welfare services mana...                                37.4
135 ICT managers                                                                  38.4
139 Miscellaneous specialist managers                                             38.5
141 Accommodation and hospitality managers                                        38.8
142 Retail managers                                                               38.9
149 Miscellaneous hospitality, retail and servi...                                38.8
211 Arts professionals                                                            37.1
212 Media professionals                                                           38.9
221 Accountants, auditors and company secretaries                                 38.1
222 Financial brokers and dealers, and investme...                                38.1
223 Human resource and training professionals                                     38.3
224 Information and organisation professionals                                    37.8
225 Sales, marketing and public relations profe...                                38.3
231 Air and marine transport professionals                                        41.8

                                                                                               \
                                                   Average hourly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                        NaN
121 Farmers and farm managers                                                             NaN
131 Advertising, public relations and sales man...                                       73.9
132 Business administration managers                                                     87.5
133 Construction, distribution and production m...                                       83.1
134 Education, health and welfare services mana...                                       68.3
135 ICT managers                                                                         94.3
139 Miscellaneous specialist managers                                                    82.1
141 Accommodation and hospitality managers                                               40.6
142 Retail managers                                                                      49.6
149 Miscellaneous hospitality, retail and servi...                                       58.2
211 Arts professionals                                                                   45.9
212 Media professionals                                                                  54.8
221 Accountants, auditors and company secretaries                                        54.4
222 Financial brokers and dealers, and investme...                                       70.2
223 Human resource and training professionals                                            60.7
224 Information and organisation professionals                                           64.1
225 Sales, marketing and public relations profe...                                       64.6
231 Air and marine transport professionals                                               67.9

                                                                                       \
                                                   Average hourly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                                NaN
121 Farmers and farm managers                                                     NaN
131 Advertising, public relations and sales man...                               73.9
132 Business administration managers                                             87.7
133 Construction, distribution and production m...                               83.2
134 Education, health and welfare services mana...                               68.3
135 ICT managers                                                                 94.3
139 Miscellaneous specialist managers                                            82.3
141 Accommodation and hospitality managers                                       40.6
142 Retail managers                                                              49.8
149 Miscellaneous hospitality, retail and servi...                               58.4
211 Arts professionals                                                           45.9
212 Media professionals                                                            55
221 Accountants, auditors and company secretaries                                54.4
222 Financial brokers and dealers, and investme...                               70.2
223 Human resource and training professionals                                    60.8
224 Information and organisation professionals                                   64.2
225 Sales, marketing and public relations profe...                               64.7
231 Air and marine transport professionals                                       68.6

                                                                                      Females  \
                                                   Average weekly ordinary time cash earnings
NaN                                                                                         $
111 Chief executives, general managers and legi...                                        NaN
121 Farmers and farm managers                                                             NaN
131 Advertising, public relations and sales man...                                     2493.2
132 Business administration managers                                                   2961.2
133 Construction, distribution and production m...                                     2756.9
134 Education, health and welfare services mana...                                     2001.2
135 ICT managers                                                                       3423.1
139 Miscellaneous specialist managers                                                    2901
141 Accommodation and hospitality managers                                               1332
142 Retail managers                                                                      1401
149 Miscellaneous hospitality, retail and servi...                                       1888
211 Arts professionals                                                                 1601.7
212 Media professionals                                                                1988.5
221 Accountants, auditors and company secretaries                                      1896.3
222 Financial brokers and dealers, and investme...                                     2443.7
223 Human resource and training professionals                                          1925.2
224 Information and organisation professionals                                         2156.1
225 Sales, marketing and public relations profe...                                     2067.2
231 Air and marine transport professionals                                             1752.5

                                                                                       \
                                                   Average weekly total cash earnings
NaN                                                                                 $
111 Chief executives, general managers and legi...                                NaN
121 Farmers and farm managers                                                     NaN
131 Advertising, public relations and sales man...                             2502.1
132 Business administration managers                                           2961.4
133 Construction, distribution and production m...                             2756.9
134 Education, health and welfare services mana...                             2009.9
135 ICT managers                                                               3423.1
139 Miscellaneous specialist managers                                          2929.8
141 Accommodation and hospitality managers                                     1342.3
142 Retail managers                                                            1424.1
149 Miscellaneous hospitality, retail and servi...                             1900.9
211 Arts professionals                                                         1601.7
212 Media professionals                                                        1991.3
221 Accountants, auditors and company secretaries                              1905.9
222 Financial brokers and dealers, and investme...                             2443.7
223 Human resource and training professionals                                  1929.7
224 Information and organisation professionals                                 2166.1
225 Sales, marketing and public relations profe...                             2069.7
231 Air and marine transport professionals                                     1883.9

                                                                                                \
                                                   Average weekly ordinary time hours paid for
NaN                                                                                      hours
111 Chief executives, general managers and legi...                                         NaN
121 Farmers and farm managers                                                              NaN
131 Advertising, public relations and sales man...                                        37.9
132 Business administration managers                                                      37.8
133 Construction, distribution and production m...                                        38.6
134 Education, health and welfare services mana...                                        37.6
135 ICT managers                                                                          38.2
139 Miscellaneous specialist managers                                                       38
141 Accommodation and hospitality managers                                                36.3
142 Retail managers                                                                         38
149 Miscellaneous hospitality, retail and servi...                                        37.9
211 Arts professionals                                                                      35
212 Media professionals                                                                     38
221 Accountants, auditors and company secretaries                                         37.6
222 Financial brokers and dealers, and investme...                                        38.1
223 Human resource and training professionals                                             37.3
224 Information and organisation professionals                                            37.3
225 Sales, marketing and public relations profe...                                        37.6
231 Air and marine transport professionals                                                38.7

                                                                                        \
                                                   Average weekly total hours paid for
NaN                                                                              hours
111 Chief executives, general managers and legi...                                 NaN
121 Farmers and farm managers                                                      NaN
131 Advertising, public relations and sales man...                                  38
132 Business administration managers                                              37.8
133 Construction, distribution and production m...                                38.6
134 Education, health and welfare services mana...                                37.7
135 ICT managers                                                                  38.2
139 Miscellaneous specialist managers                                             38.2
141 Accommodation and hospitality managers                                        36.5
142 Retail managers                                                               38.4
149 Miscellaneous hospitality, retail and servi...                                  38
211 Arts professionals                                                              35
212 Media professionals                                                             38
221 Accountants, auditors and company secretaries                                 37.8
222 Financial brokers and dealers, and investme...                                38.1
223 Human resource and training professionals                                     37.4
224 Information and organisation professionals                                    37.4
225 Sales, marketing and public relations profe...                                37.7
231 Air and marine transport professionals                                        40.3


In [25]:
df_2023.columns

MultiIndex([(  'Males',  'Average weekly ordinary time cash earnings'),
            (  'Males',          'Average weekly total cash earnings'),
            (  'Males', 'Average weekly ordinary time hours paid for'),
            (  'Males',         'Average weekly total hours paid for'),
            (  'Males',  'Average hourly ordinary time cash earnings'),
            (  'Males',          'Average hourly total cash earnings'),
            ('Females',  'Average weekly ordinary time cash earnings'),
            ('Females',          'Average weekly total cash earnings'),
            ('Females', 'Average weekly ordinary time hours paid for'),
            ('Females',         'Average weekly total hours paid for'),
            ('Females',  'Average hourly ordinary time cash earnings'),
            ('Females',          'Average hourly total cash earnings'),
            ('Persons',  'Average weekly ordinary time cash earnings'),
            ('Persons',          'Average weekly total cash earnings'),
            ('Persons', 'Average weekly ordinary time hours paid for'),
            ('Persons',         'Average weekly total hours paid for'),
            ('Persons',  'Average hourly ordinary time cash earnings'),
            ('Persons',          'Average hourly total cash earnings')],
           )

In [26]:
# Remove first row
df_2023 = df_2023.iloc[1:]

In [27]:
df_2023_long = df_2023.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

C:\Users\YenChiNguyen\AppData\Local\Temp\ipykernel_34324\3539781405.py:1: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_2023_long = df_2023.stack(level=0).reset_index().rename(columns={"level_1": "Gender", "level_0": "Occupation"}).copy()

In [28]:
# Remove last rows
df_2023_long = df_2023_long.iloc[:-3, :]

In [29]:
df_2023_long

,Occupation,Gender,Average weekly ordinary time cash earnings,Average weekly total cash earnings,Average weekly ordinary time hours paid for,Average weekly total hours paid for,Average hourly ordinary time cash earnings,Average hourly total cash earnings
0,121 Farmers and farm managers,Persons,1513.3,1513.3,38.4,38.4,39.2,39.2
1,"131 Advertising, public relations and sales ma...",Females,2493.2,2502.1,37.9,38,65.8,65.9
2,"131 Advertising, public relations and sales ma...",Males,2829.9,2829.9,38.2,38.2,73.9,73.9
3,"131 Advertising, public relations and sales ma...",Persons,2705.7,2709,38.1,38.1,70.9,71
4,132 Business administration managers,Females,2961.2,2961.4,37.8,37.8,78.2,78.2
...,...,...,...,...,...,...,...,...
274,891 Freight handlers and shelf fillers,Males,1299.3,1460.5,38.2,41.7,34.3,35.2
275,891 Freight handlers and shelf fillers,Persons,1304.9,1454.5,38.4,41.6,34.2,35.1
276,899 Miscellaneous labourers,Females,1227.3,1387.5,37.1,40,33.3,34.5
277,899 Miscellaneous labourers,Males,1340.4,1492.5,38.6,41.5,34.7,35.6
278,899 Miscellaneous labourers,Persons,1327.3,1480.3,38.4,41.3,34.6,35.5

### Export to csv (these files are to be loaded to S3 buckets)

In [30]:
dfs_map = {
    "2016": df_2016_long,
    "2018": df_2018_long,
    "2021": df_2021_long,
    "2023": df_2023_long,
}

for name, df in dfs_map.items():
    # Create a Year column
    df['Year'] = name

    # Convert str to int
    df['Year'] = df['Year'].astype(int)

In [31]:
for df in [df_2016_long, df_2018_long, df_2021_long, df_2023_long]:
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Occupation                                   273 non-null    object
 1   Gender                                       273 non-null    object
 2   Average weekly ordinary time cash earnings   273 non-null    object
 3   Average weekly total cash earnings           273 non-null    object
 4   Average weekly ordinary time hours paid for  273 non-null    object
 5   Average weekly total hours paid for          272 non-null    object
 6   Average hourly ordinary time cash earnings   273 non-null    object
 7   Average hourly total cash earnings           272 non-null    object
 8   Year                                         273 non-null    int32
dtypes: int32(1), object(8)
memory usage: 18.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Occupation                                   278 non-null    object
 1   Gender                                       278 non-null    object
 2   Average weekly ordinary time cash earnings   278 non-null    object
 3   Average weekly total cash earnings           278 non-null    object
 4   Average weekly ordinary time hours paid for  278 non-null    object
 5   Average weekly total hours paid for          278 non-null    object
 6   Average hourly ordinary time cash earnings   278 non-null    object
 7   Average hourly total cash earnings           278 non-null    object
 8   Year                                         278 non-null    int32
dtypes: int32(1), object(8)
memory usage: 18.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Occupation                                   268 non-null    object
 1   Gender                                       268 non-null    object
 2   Average weekly ordinary time cash earnings   268 non-null    object
 3   Average weekly total cash earnings           266 non-null    object
 4   Average weekly ordinary time hours paid for  268 non-null    object
 5   Average weekly total hours paid for          268 non-null    object
 6   Average hourly ordinary time cash earnings   268 non-null    object
 7   Average hourly total cash earnings           266 non-null    object
 8   Year                                         268 non-null    int32
dtypes: int32(1), object(8)
memory usage: 17.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 9 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Occupation                                   279 non-null    object
 1   Gender                                       279 non-null    object
 2   Average weekly ordinary time cash earnings   279 non-null    object
 3   Average weekly total cash earnings           279 non-null    object
 4   Average weekly ordinary time hours paid for  279 non-null    object
 5   Average weekly total hours paid for          279 non-null    object
 6   Average hourly ordinary time cash earnings   279 non-null    object
 7   Average hourly total cash earnings           279 non-null    object
 8   Year                                         279 non-null    int32
dtypes: int32(1), object(8)
memory usage: 18.7+ KB
None

In [34]:
dfs = {
    "_2016_s3": df_2016_long,
    "_2018_s3": df_2018_long,
    "_2021_s3": df_2021_long,
    "_2023_s3": df_2023_long,
}

for name, df in dfs.items():
    df.to_csv(f"../data/S3/EEH{name}.csv", index=False)

## Read employment file

In [21]:
df = pd.read_excel("../data/national_occupation_trend_-_august_2025.xlsx", sheet_name='Table_1', skiprows=7)

In [22]:
df.head()

,ANZSCO Level,NFD Indicator 5,Code (Text),ANZSCO Title,COVID Adjusted 3,Skill Level 4,Trend Data for Aug 2025 ('000),Qtr Change to Aug 2025 ('000),Qtr Change to Aug 2025 (%),1 Year Change to Aug 2025 ('000),...,10 Year Change to Aug 2025 (%),Share of National Emp (%) 1,Share of Level 1 Group (%) 1,"Female Share, 2024, 4 Quarter Avg (%)","Part Time Share, 2024, 4 Quarter Avg (%)","Female Part Time Share, 2024, 4 Quarter Avg (%)","Male Part Time Share, 2024, 4 Quarter Avg (%)",Median Age 2024 (ABS Customised Report),Median Female Age 2024 (ABS Customised Report),Median Male Age 2024 (ABS Customised Report)
0,1,N,1,Managers,-,-,1866.720999,9.555297,0.514510,26.038196,...,22.466084,12.737735,-,41,14,21,9,45,43,46
1,2,Y,10,Managers nfd,-,-,5.632010,0.296963,5.566271,1.218784,...,-86.215867,<0.1,0.298971,-,-,-,-,-,-,-
2,3,Y,100,Managers nfd,-,-,5.632010,0.296963,5.566271,1.218784,...,-86.215867,<0.1,0.296307,-,-,-,-,-,-,-
3,4,Y,1000,Managers nfd,-,1,5.632010,0.296963,5.566271,1.218784,...,-86.215867,<0.1,0.295456,-,-,-,-,-,-,-
4,2,N,11,"Chief Executives, General Managers and Legisla...",-,-,130.797606,0.314260,0.240843,1.544866,...,19.631557,0.890325,6.943294,34,13,19,10,49,48,50

In [23]:
df.tail()

,ANZSCO Level,NFD Indicator 5,Code (Text),ANZSCO Title,COVID Adjusted 3,Skill Level 4,Trend Data for Aug 2025 ('000),Qtr Change to Aug 2025 ('000),Qtr Change to Aug 2025 (%),1 Year Change to Aug 2025 ('000),...,10 Year Change to Aug 2025 (%),Share of National Emp (%) 1,Share of Level 1 Group (%) 1,"Female Share, 2024, 4 Quarter Avg (%)","Part Time Share, 2024, 4 Quarter Avg (%)","Female Part Time Share, 2024, 4 Quarter Avg (%)","Male Part Time Share, 2024, 4 Quarter Avg (%)",Median Age 2024 (ABS Customised Report),Median Female Age 2024 (ABS Customised Report),Median Male Age 2024 (ABS Customised Report)
667,9,N,SKI1,Skill Level 1 Occupations,-,-,5210.433119,60.221505,1.169302,193.179133,...,41.700080,35.492932,-,-,-,-,-,-,-,-
668,9,N,SKI2,Skill Level 2 Occupations,Y,-,1804.487858,10.054959,0.560342,37.833079,...,22.930486,12.291985,-,-,-,-,-,-,-,-
669,9,N,SKI3,Skill Level 3 Occupations,-,-,2134.052550,-8.217304,-0.383579,1.135073,...,9.905303,14.536945,-,-,-,-,-,-,-,-
670,9,N,SKI4,Skill Level 4 Occupations,Y,-,3556.538779,6.799475,0.191549,32.423030,...,27.207138,24.226774,-,-,-,-,-,-,-,-
671,9,N,SKI5,Skill Level 5 Occupations,Y,-,1974.686990,-4.175958,-0.211028,-12.736848,...,2.853650,13.451364,-,-,-,-,-,-,-,-

In [24]:
df.columns

Index(['ANZSCO Level', 'NFD Indicator 5', 'Code (Text)', 'ANZSCO Title',
       'COVID Adjusted 3', 'Skill Level 4', 'Trend Data for Aug 2025 ('000) ',
       'Qtr Change to Aug 2025 ('000) ', 'Qtr Change to Aug 2025 (%) ',
       '1 Year  Change to Aug 2025 ('000) ',
       '1 Year  Change to Aug 2025 (%) ',
       '5 Year  Change to Aug 2025 ('000) ',
       '5 Year  Change to Aug 2025 (%) ',
       '10 Year  Change to Aug 2025 ('000) ',
       '10 Year  Change to Aug 2025 (%) ', 'Share of National Emp (%) 1',
       'Share of Level 1 Group (%) 1',
       'Female Share, 2024, 4 Quarter Avg (%) ',
       'Part Time Share, 2024, 4 Quarter Avg (%) ',
       'Female Part Time Share, 2024, 4 Quarter Avg (%) ',
       'Male Part Time Share, 2024, 4 Quarter Avg (%) ',
       'Median Age 2024 (ABS Customised Report) ',
       'Median Female Age 2024 (ABS Customised Report) ',
       'Median Male Age 2024 (ABS Customised Report) '],
      dtype='object')

In [25]:
from unidecode import unidecode

df.columns = (
    df.columns
      .map(unidecode)
      .str.replace(r"\s*\(.*?\)", "", regex=True) # remove parentheses content 
      .str.replace(r"[^\w\s]", "", regex=True)  # remove special chars
)

In [26]:
# The superscripts are not removed with the code above but we'll leave it for now
df.columns

Index(['ANZSCO Level', 'NFD Indicator 5', 'Code', 'ANZSCO Title',
       'COVID Adjusted 3', 'Skill Level 4', 'Trend Data for Aug 2025 1',
       'Qtr Change to Aug 2025 1', 'Qtr Change to Aug 2025 1',
       '1 Year  Change to Aug 2025 1', '1 Year  Change to Aug 2025 1',
       '5 Year  Change to Aug 2025 1', '5 Year  Change to Aug 2025 1',
       '10 Year  Change to Aug 2025 1', '10 Year  Change to Aug 2025 1',
       'Share of National Emp 1', 'Share of Level 1 Group 1',
       'Female Share 2024 4 Quarter Avg 2',
       'Part Time Share 2024 4 Quarter Avg 2',
       'Female Part Time Share 2024 4 Quarter Avg 2',
       'Male Part Time Share 2024 4 Quarter Avg 2', 'Median Age 2024 2',
       'Median Female Age 2024 2', 'Median Male Age 2024 2'],
      dtype='object')

In [28]:
df.columns.str.upper()

Index(['ANZSCO LEVEL', 'NFD INDICATOR 5', 'CODE', 'ANZSCO TITLE',
       'COVID ADJUSTED 3', 'SKILL LEVEL 4', 'TREND DATA FOR AUG 2025 1',
       'QTR CHANGE TO AUG 2025 1', 'QTR CHANGE TO AUG 2025 1',
       '1 YEAR  CHANGE TO AUG 2025 1', '1 YEAR  CHANGE TO AUG 2025 1',
       '5 YEAR  CHANGE TO AUG 2025 1', '5 YEAR  CHANGE TO AUG 2025 1',
       '10 YEAR  CHANGE TO AUG 2025 1', '10 YEAR  CHANGE TO AUG 2025 1',
       'SHARE OF NATIONAL EMP 1', 'SHARE OF LEVEL 1 GROUP 1',
       'FEMALE SHARE 2024 4 QUARTER AVG 2',
       'PART TIME SHARE 2024 4 QUARTER AVG 2',
       'FEMALE PART TIME SHARE 2024 4 QUARTER AVG 2',
       'MALE PART TIME SHARE 2024 4 QUARTER AVG 2', 'MEDIAN AGE 2024 2',
       'MEDIAN FEMALE AGE 2024 2', 'MEDIAN MALE AGE 2024 2'],
      dtype='object')

In [27]:
df.to_csv("../data/S3/employment.csv", index=False)